<div class="Actions">
  <div class="container">
    <div class="Actions-item">

      <h3>Bug Reports</h3>
      <h4>Bug Reports. Open Issues.</h4>
      <p>To encourage active collaboration, Laravel strongly encourages pull requests, not just bug reports. "Bug reports" may also be sent in the form of a pull request containing a failing test.</p>
      <a href="https://github.com/iinbrand/docs/issues/new" class="Button">Issues</a>
    </div>

    <div class="Actions-item">
      <h3>Contribute</h3>
      <h4>Help us build iinbrand.</h4>
      <p>The contribution guide can be found in  Fork it on GitHub and help make it bettter.</p>
      <a href="{{ site.baseurl }}/contributing" class="Button">Contribute</a>
    </div>

    <div class="Actions-item">
      <h3>Roadmap</h3>
      <h4>Support iinbrand development.</h4>
      <p>Help us pay for dedicated dev time and servers so that we can keep building. There's a <a href="{{ site.baseurl }}/roadmap">lot to look forward to</a>.</p>
      <a href="{{ site.baseurl }}/roadmap" class="Button">Roadmap</a>
    </div>


  </div>
</div>
