<footer class="Footer">
  <div class="container">
    <div class="Footer-social">
    {% include social-buttons.html %}
    </div>

    <div class="Footer-nav">
      <a href="{{ site.baseurl }}/docs">Documentation</a>
      <a href="https://iinb.ga/admin">ShortenURL</a>
        <a href="https://iinbrand.com">iinbrand.com</a>
      <a href="https://github.com/iinbrand">GitHub</a>
    </div>

    <div class="Footer-copyright">
      <span>Copyright © 2016 <a href="https://iinbrand.com"> iinbrand.com</a></span>
      <span>by <a href="http://ifromz.info">pkfrom</a></span>
    </div>
  </div>
</footer>


