<div class="Team">
  <div class="Team-members">
    <div class="Team-member">
      <h3>
        <a href="https://twitter.com/pkfrom" target="_blank">
          <img src="{{ site.baseurl }}/img/fromz.png" alt="" width="108" height="108">
            Prajuktar Kaewmanee (Fromz)
        </a>
      </h3>
      <h4><a href="http://ifromz.info" target="_blank">Developer</a> </h4>
    </div>

  </div>

  <p class="Team-text">
      We're an independent software developer,<br> and always coding something fun on my free-time :)
      <br>
      We're on a mission to make software you <em>want</em> to use.
  </p>

  <div class="Team-actions">
    <a href="{{ site.baseurl }}/contribute/" class="Button">Read the Document Guide</a>
  </div>
</div>
